:root {
  --blue: #00b1d2;
}

.App {
  font-family: Aleo;
  left: 0;
  margin: auto;
  right: 0;
  text-align: center;
}

h1 {
  display: block;
  font-size: 40px;
  font-weight: bold;
}

h3 {
  color: var(--blue);
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 50px;
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: Aleo;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

.hero {
  margin: auto;
  text-align: left;
  width: 90vw;
}

.logo-animated {
  height: 100%;
  width: 300px;
  align-self: flex-end;
  animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
